@font-face{
	font-family: "OpenSans";
	font-weight: bold;
	src: url("OpenSans-Bold.ttf");
}


@font-face{
	font-family: "OpenSans";
	font-weight: bolder;
	src: url("OpenSans-ExtraBold.ttf");
}

@font-face{
	font-family: "OpenSans";
	font-weight: normal;
	src: url("OpenSans-Regular.ttf");
}