<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="css/styles.css">
	<link rel="stylesheet" href="fonts/fonts.css">
</head>
<body>
	<div class="container">
			<div class="header">
				<div class="head-block">
					Marcy..
				</div>
				<h1>Story</h1>
			</div>
			<div class="travel">
				<div class="left-side">
					<h2>Travel</h2>
					<h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, amet.</h3>
					<div class="discription">
						<p>
							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi saepe illo, nobis commodi beatae, assumenda. Iste aut quos fugit amet quod!
						</p>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut distinctio vero dolorem, soluta quod vitae, rem aperiam sapiente eos odio.
						</p>
					</div>
					<form action="#" method="get">
						<div class="button">
							<input type="submit" value="Full story &#8594">
						</div>
					</form>
				</div>
				<div class="images">
					<div class="image-big" style="background-image: url(images/volcano.png);">
						<img src="images/volcano.png" alt="">
					</div>
					<div class="image-small" style="background-image: url(images/picture.png);">
						<img src="images/picture.png" alt="">
					</div>
				</div>
			</div>
			<div class="quote">
				<div class="head">
					<h2>quote</h2>
				    <h3>Lorem, ipsum dolor sit amet consectetur, adipisicing elit.</h3>
				</div>
				<div class="image-quote" style="background-image: url(images/picture2.png);">
				    <img src="images/picture2.png" alt="">
			    </div>
			    <div class="massage">
			    	<dl>
			    		<dt>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ipsum, nam, explicabo fugit corrupti vero eum. Quas nisi, harum accusamus dignissimos."</dt>
			    		<dd>Ven Diesel <span>1962-2006</span></dd>
			    	</dl>
			    	<form action="#" method="get">
						<div class="button">
							<input type="submit" value="Full story &#8594">
						</div>
				    </form>
			    </div>
			</div>
			<footer style="background-image: url(images/footer.png);">
				<div class="subscribe">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quam aliquam, quidem quae ad, expedita.</p>
					<form action="#" method="get">
						<div class="name">
							<input type="text" placeholder="Name">
						</div>
						<div class="email">
							<input type="email" placeholder="Email">
						</div>
						<div class="button">
							<input type="submit" value="Subscribe &#8594">
						</div>
					</form>
				</div>
			</footer>
			
	</div>
</body>
</html>