<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="css/styles.css">
</head>
<body>
	<header>
		<div class="container">
			<div class="head">
				<h1>Дубовик Артем Вячеславович</h1>
				<div class="last-line"></div>
				<nav>
					<a href="#">Резюме</a>
					<a href="#">Портфолио</a>
					<a href="#">Проекты</a>
					<a href="#">Контакты</a>
				</nav>
			</div>
		</div>
	</header>
	<section class="about-me">
		<div class="container">
			<div class="head">
				<h2>Обо мне</h2>
				<div class="h-line"></div>
			</div>
			<div class="content">
				<div class="photo">
					<img src="images/my-photo.png" alt="">
				</div>
				<div class="description">
					<h3>Пара слов про меня</h3>
					<div class="text">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero reiciendis exercitationem blanditiis qui, voluptatibus at quos consectetur asperiores ab deserunt totam temporibus soluta maiores distinctio rerum minus aliquam magni est.
					</div>
					<div class="quote">
						<dl>
							<dt>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ea aspernatur ratione doloremque omnis, illum, voluptatum. Porro voluptate illo maiores vitae, voluptatibus nihil soluta! Quas fugiat, officiis facilis tenetur veniam.</dt>
						    <dd>Artem Dubovyk, Front-End developer</dd>
						</dl>
					</div>
				</div>
				<div class="h-line"></div>
			</div>
		</div>
	</section>
	<section class="skill-and-work">
		<div class="container">
			<div class="my-skill">
				<h3>Мои навыки</h3>
				<div class="grad">
					<div class="photoshop">Photoshop</div>
					<div class="html">HTML</div>
					<div class="css">CSS</div>
					<div class="js">JavaScript</div>
					<div class="angular">Angular</div>
					<table>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</table>
						<div class="scale">
							<div class="first">1</div>
							<div class="second">2</div>
							<div class="third">3</div>
							<div class="fourth">4</div>
							<div class="fifth">5</div>
						</div>
				</div>

			</div>
			<div class="my-work">
				<h3>Что я делаю</h3>
				<ul>
					<li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi ab odio vero dolorum perferendis debitis voluptatibus laborum.</li>
					<li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi ab odio vero dolorum perferendis debitis voluptatibus laborum.</li>
					<li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi ab odio vero dolorum perferendis debitis voluptatibus laborum.</li>
					<li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi ab odio vero dolorum perferendis debitis voluptatibus laborum.</li>
					<li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi ab odio vero dolorum perferendis debitis voluptatibus laborum.</li>
					<li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi ab odio vero dolorum perferendis debitis voluptatibus laborum.</li>
				</ul>
			</div>
			<div class="h-line"></div>
		</div>
	</section>
	<section class="bot-discription">
		<div class="container">
			<div class="image">
				<img src="images/deadpool.png" alt="">
			</div>
			<div class="discription">
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure harum autem totam, accusamus porro magni iste quam dolores ipsum assumenda eligendi, dicta quidem, amet earum eum quia impedit? Assumenda, et!
			</div>
		</div>
	</section>
	<div class="container">
		<footer>
			<div class="contacts">
				<h2>Контакты</h2>
				<div class="email">email:dubovik.artyom@gmail.com</div>
				<div class="phone">моб:+380664652706</div>
			</div>
			<div class="social-network">
				<h2>Соцсети</h2>
					<a href="#">facebook</a>
					<a href="#">vk</a>
					<a href="#">linkedin</a>
			</div>
			<div class="grad">
				<p>Lorem ipsum</p>
			</div>
			<div class="signature">
				Hillel,2021
			</div>
		</footer>
	</div>
</body>
</html>