@font-face {
  font-family: 'Euclid Circular B';
  src: url('./../../assets/fonts/EuclidCircularB/EuclidCircularB-Bold.eot');
  src: url('./../../assets/fonts/EuclidCircularB/EuclidCircularB-Bold.eot?#iefix') format('embedded-opentype'),
  url('./../../assets/fonts/EuclidCircularB/EuclidCircularB-Bold.woff2') format('woff2'),
  url('./../../assets/fonts/EuclidCircularB/EuclidCircularB-Bold.woff') format('woff'),
  url('./../../assets/fonts/EuclidCircularB/EuclidCircularB-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Euclid Circular B';
  src: url('./../../assets/fonts/EuclidCircularB/EuclidCircularB-Medium.eot');
  src: url('./../../assets/fonts/EuclidCircularB/EuclidCircularB-Medium.eot?#iefix') format('embedded-opentype'),
  url('./../../assets/fonts/EuclidCircularB/EuclidCircularB-Medium.woff2') format('woff2'),
  url('./../../assets/fonts/EuclidCircularB/EuclidCircularB-Medium.woff') format('woff'),
  url('./../../assets/fonts/EuclidCircularB/EuclidCircularB-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Euclid Circular B';
  src: url('./../../assets/fonts/EuclidCircularB/EuclidCircularB-SemiBold.eot');
  src: url('./../../assets/fonts/EuclidCircularB/EuclidCircularB-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('./../../assets/fonts/EuclidCircularB/EuclidCircularB-SemiBold.woff2') format('woff2'),
  url('./../../assets/fonts/EuclidCircularB/EuclidCircularB-SemiBold.woff') format('woff'),
  url('./../../assets/fonts/EuclidCircularB/EuclidCircularB-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Euclid Circular B';
  src: url('./../../assets/fonts/EuclidCircularB/EuclidCircularB-Regular.eot');
  src: url('./../../assets/fonts/EuclidCircularB/EuclidCircularB-Regular.eot?#iefix') format('embedded-opentype'),
  url('./../../assets/fonts/EuclidCircularB/EuclidCircularB-Regular.woff2') format('woff2'),
  url('./../../assets/fonts/EuclidCircularB/EuclidCircularB-Regular.woff') format('woff'),
  url('./../../assets/fonts/EuclidCircularB/EuclidCircularB-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Euclid Circular B';
  src: url('./../../assets/fonts/EuclidCircularB/EuclidCircularB-Light.eot');
  src: url('./../../assets/fonts/EuclidCircularB/EuclidCircularB-Light.eot?#iefix') format('embedded-opentype'),
  url('./../../assets/fonts/EuclidCircularB/EuclidCircularB-Light.woff2') format('woff2'),
  url('./../../assets/fonts/EuclidCircularB/EuclidCircularB-Light.woff') format('woff'),
  url('./../../assets/fonts/EuclidCircularB/EuclidCircularB-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

