$laptop: 1339px;
$tablet: 1279px;
$mobile: 767px;
$mobile-small: 414px;

$max-width-desktop: 1320px;
$max-width-laptop: 1160px;
$max-width-big-tablet: 944px;
$max-width-tablet: 688px;
$max-width-mobile: 375px;

$font-family: "Euclid Circular B", sans-serif;

$content-size: 954px;
$content-size-tablet: 688px;
$content-size-mobile: 335px;

$wrapper-size: 1320px;

