* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, arial;
}


body {

    min-height: 100vh;
}


header {
    height: 80px;
    background-color: #0dcaf0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-top: 20px;
    color: white;
    padding-bottom: 10px;
}


header hgroup {
    display: flex;
    flex-flow: row nowrap;


}


header hgroup h1 {
    font-weight: normal;
    padding-left: 30px;
    font-size: 20px;
    line-height: 40px;
}

header hgroup h1 span {
    font-weight: bolder;
}


header .menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    padding-left: 20px;
}


header .menu a {
    color: white;
}



header .menu nav {
    position: relative;
    margin-right: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

}

header .menu nav a {
    color: white;
    margin-right: 20px;

}

header .menu nav .badge {
    position: absolute;

    height: 20px;
    width: 30px;


}

header .menu nav .first {
    top: 5px;
    left: 5px;
    background-color: #00a658;
}

header .menu nav .second {
    top: 5px;
    left: 45px;
    background-color: #fbac41;
}

header .menu nav .third {
    top: 5px;
    left: 85px;
    background-color: #ec452d;
}

header .menu nav .button {
    width: 20px;
    height: 20px;
}



header .menu .photo {
    background-color: #e3e3e3;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-right: 20px;
}

header .menu span {
    font-size: 15px;
}

@media screen and (max-width: 600px) {
    header {
        height: 100%;
        flex-flow: row wrap;
        justify-content: space-between;

    }

    header hgroup {
        display: flex;
        flex-flow: row nowrap;
        padding-left: 30%;
    }

    header .menu span {
        display: none;
    }
}



main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    min-height: 100vh;
}


main aside {
    flex-grow: 2;
    background-color: #304c59;
    flex-flow: column nowrap;
    color: white;
}

main section {
    flex-grow: 10;
    background-color: #dedfdf;
}





main aside {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    padding-top: 20px;
    flex-shrink: 0;
}

main aside hgroup {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding-left: 20px;
    padding-bottom: 20px;
}


main aside hgroup .photo {
    background-color: #e3e3e3;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

main aside hgroup .info {
    padding-left: 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}

main aside hgroup .info .status {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

main aside hgroup .info .status .indicator {
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: green;
}

main aside hgroup .info .status .text {
    padding-left: 5px;
}

main aside h3 {
    display: block;
    font-size: 20px;
    text-transform: uppercase;
    background-color: #1a2226;
    line-height: 30px;
    padding-left: 20px;
    padding-right: 10px;
}

main aside a {
    color: white;
    text-decoration: none;
}

main aside a:hover {
    color: #0dcaf0;
    ;
}

main aside .button {
    padding-left: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
}

main aside .button span {
    padding-left: 20px;
}

@media screen and (max-width: 600px) {
    main aside {
        display: none;
    }
}


main section {
    padding-top: 10px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

main section hgroup {
    padding-left: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;



}



main section hgroup nav {
    display: flex;
    padding-right: 10px;
}


main section hgroup nav ol li a {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
}

main section hgroup nav ol li a:hover {
    color: #0dcaf0;
}

main section hgroup nav ol li a span {
    padding-left: 5px;
}

@media screen and (max-width: 600px) {
    main section hgroup h2 {
        flex-grow: 1;
        flex-basis: 100%;
    }

    main section hgroup nav {
        flex-grow: 1;
        background-color: #d2d6de;
        border-radius: 5px;
    }

    main section hgroup nav ol li {
        padding-top: 10px;
        padding-left: 10px;

    }
}

main section .forms {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
    min-height: 100vh;
    flex: 1;
}


main section .forms .window {
    background-color: white;
    width: 600px;
    flex-grow: 2;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    max-height: 230px;
    filter: drop-shadow(0 -3px 3px #ced2db);
    flex-shrink: 3;

}

main section .forms .window h3 {}

main section .forms .big {
    max-height: 300px;
}

main section .forms .small {
    max-height: 150px;
}



main section .forms .window form {}



main section .forms .window form dl dd input[type="text"],
[type="Password"],
[type="email"] {
    width: 100%;
    flex-shrink: 2;
    padding-left: 10px;
}


main section footer {
    background-color: white;
    height: 50px;
    flex-shrink: 0;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: middle;
    line-height: 50px;
    margin-top: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}


main section footer p{
    font-weight: bold;
}

main section footer span{
    color: #0dcaf0;
}

@media screen and (max-width: 1465px){
    main section .forms .window{width: 400px}
}

@media screen and (max-width: 1066px){
    main section .forms .window{width: 300px}
}

@media screen and (max-width: 959px){
    main section .forms .window{width: 400px}
}

@media screen and (max-width: 640px){
    main section .forms .window{width: 300px}
}

@media screen and (max-width: 375px){
    main section footer p{
        font-size: 10px;
    }
}

@media screen and (max-width: 330px){
    main section .forms .window{width: 200px}
}



