<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>

<body>
    <div class="bcc">
        <header>
            <div class="container-md">
                <div class="row mb-5">
                    <div class="col-sm-6 d-flex align-items-center">
                        <img src="img/ellipse.png" alt="">
                        <h1>Flat mate</h1>
                    </div>
                    <div class="col-sm-6 text-end d-flex justify-content-end align-items-center">
                        <span>Have an Account?</span>
                        <button type="button" class="btn btn-secondary">Login</button>
                    </div>
                </div>
                <div class="row content">
                    <div class="col-md-7">
                        <h2>Lorem ipsum dolor sit, amet.</h2>
                        <p>Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Pariatur fuga, eius et illo non excepturi! Consectetur inventore dignissimos, veritatis, hic nam perferendis maiores numquam quasi adipisci. Nobis fugiat mollitia suscipit?</p>
                        <button type="button" class="btn-lg btn-success"><span>Read more</span></button>
                    </div>
                    <div class="col-md-5 gy-2">
                        <div class="logo">
                            <img src="img/ico.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="fb">
        <div class="container-lg">
            <div class="row mt-5">
                <div class="col-md-3 col-sm-12 gy-2 ico">
                    <img src="img/doc.png" alt="">
                </div>
                <div class="col-md-7 col-sm-12 gy-2 d-flex flex-column align-self-center">
                    <h2>Lorem ipsum dolor, sit amet.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing, elit. Ab quod debitis, soluta sint minus? Officiis pariatur, voluptatibus distinctio ratione consequuntur veritatis recusandae, est optio asperiores, id perspiciatis consectetur quasi rerum?</p>
                </div>
                <div class="col-md-2 col-sm-12 gy-2 buttons d-flex flex-column align-self-center">
                    <a href=""><img src="img/btn-register.png" alt=""></a>
                    <a href=""><img src="img/fb.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="carousel">
        <div class="container-lg">
            <div class="row d-flex flex-column align-self-center justify-content-center">
                <div class="col-md-12">
                    <hgroup>
                        <h2>The Modern Era of Web Designing</h2>
                        <p>Lorem ipsum dolor, sit amet.</p>
                    </hgroup>
                </div>
                <div class="col-md-12">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="img/window.png" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="img/window.png" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="img/window.png" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tariffs">
        <div class="container-lg">
            <div class="row d-flex flex-column align-self-center justify-content-center">
                <hgroup>
                    <h3>A wireframe is the primitive skeleton of your website</h3>
                    <p>Lorem ipsum dolor, sit, amet consectetur adipisicing elit. Eos fugit pariatur laboriosam soluta magni esse? Ipsa placeat dolorem architecto illum ab, dicta, nostrum, illo necessitatibus assumenda, velit quaerat tenetur. Sunt?</p>
                </hgroup>
            </div>
            <div class="row tables d-flex flex-row justify-content-center">
                <div class="col-sm-3 gy-2 free">
                    <table>
                        <tr>
                            <th>Free</th>
                        </tr>
                        <tr>
                            <td>$0/Month</td>
                        </tr>
                        <tr>
                            <td>1 Project</td>
                        </tr>
                        <tr>
                            <td>5 Members</td>
                        </tr>
                        <tr>
                            <td>5 GB</td>
                        </tr>
                        <tr>
                            <td id="none">&nbsp</td>
                        </tr>
                        <tr>
                            <th><a href="#">Sign Up</a></th>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-3 gy-2 professional">
                    <table>
                        <tr>
                            <th>Free</th>
                        </tr>
                        <tr>
                            <td>$0/Month</td>
                        </tr>
                        <tr>
                            <td>1 Project</td>
                        </tr>
                        <tr>
                            <td>5 Members</td>
                        </tr>
                        <tr>
                            <td>5 GB</td>
                        </tr>
                        <tr>
                            <td id="none">&nbsp</td>
                        </tr>
                        <tr>
                            <th><a href="#">Buy now</a></th>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-3 gy-2 enterprise">
                    <table>
                        <tr>
                            <th>Free</th>
                        </tr>
                        <tr>
                            <td>$0/Month</td>
                        </tr>
                        <tr>
                            <td>1 Project</td>
                        </tr>
                        <tr>
                            <td>5 Members</td>
                        </tr>
                        <tr>
                            <td>5 GB</td>
                        </tr>
                        <tr>
                            <td id="none">&nbsp</td>
                        </tr>
                        <tr>
                            <th><a href="#">Buy now</a></th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="promo">
        <div class="container-fluid p-0">
            <div class="row d-flex flex-column align-self-center justify-content-center">
                <div class="col-md-12 hgroup">
                    <h2>A wireframe is the primitive skeleton of your website</h2>
                </div>
                <div class="col video">
                    <iframe width="100%" height="743" src="https://www.youtube.com/embed/omkEVF3zvBg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="massage">
        <div class="container-lg">
            <div class="row d-flex flex-row align-self-center justify-content-center">
                <div class="col-md-12 mail d-flex flex-row align-self-center justify-content-center mb-5 mt-5">
                    <img src="img/mail.png" alt="">
                </div>
                <div class="col-md-5">
                    <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">
                            <p>Name<span>*</span></p>
                        </label>
                        <input type="text" class="form-control" id="formGroupExampleInput">
                    </div>
                    <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label">
                            <p>E-Mail<span>*</span></p>
                        </label>
                        <input type="text" class="form-control" id="formGroupExampleInput2">
                    </div>
                </div>
                <div class="col-md-6 mt-2">
                    <div class="form-floating">
                        <p>Massage<span>*</span></p>
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 125px; max-width: 430px;"></textarea>
                        <label for="floatingTextarea2"></label>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-end">
                <div class="col-md-3 mb-5">
                    <button type="button" class="btn btn-danger btn-sm" style="width: 80px; height: 40px;">Send</button>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container-lg">
            <div class="row d-flex justify-content-between">
                <div class="col brand mt-3 d-flex">
                    <img src="img/logo.png" alt=""><p><span>Flat Mate</span> &#10072; Develop by Dubovyk Artem</p>
                </div>
                <div class="col links text-end">
                    <a href="#"><img src="img/twit.png" alt=""></a>
                    <a href="#"><img src="img/fb-mini.png" alt=""></a>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>

</html>