<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="container">
        <header>
            <h1>Leo/-</h1>
            <nav>
                <ul>
                    <li><a href="#">Solutions</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
            <div class="coffee">
                <img src="img/coffee.png" alt="">
            </div>
            <hgroup>
                <h2>Introducing</h2>
                <span>Something hot.....</span>
            </hgroup>
            <div class="button">
                <a href="#">Try demo</a>
            </div>
        </header>
        <main>
            <div class="menu">
                <div class="clip responsive">
                    <div class="image"></div>
                    <span>Responsive</br>
                        Websites</span>
                    <div class="content">
                        <div class="ipad"><img src="img/ipad.png" alt=""></div>
                        <h3>Lorem ipsum dolor sit amet.</h3>
                        <span>Lorem, ipsum dolor sit amet consectetur adipisicing, elit. Recusandae perspiciatis nihil ratione! Ad voluptatibus dolores nam molestias ducimus est quidem deserunt alias. Eveniet alias perspiciatis numquam similique et nostrum iure saepe excepturi, illo quas.</br></br> Numquam ipsum autem dolorum hic inventore architecto voluptate eligendi neque vitae quasi non nisi nostrum quibusdam corporis laboriosam odit fugiat obcaecati tenetur iure, consequatur laborum ab harum sit voluptates? Adipisci quo, cum recusandae, a molestias enim in. Culpa libero aut nam accusantium fugit, quia, suscipit officia, saepe incidunt aperiam nisi illo! Praesentium, id aliquid, est autem incidunt laudantium natus. Nesciunt veritatis minus mollitia excepturi nam corrupti!</span>
                    </div>
                </div>
                <div class="clip ecommerce">
                    <div class="image"></div>
                    <span>eCommerce</br>
                        Websites</span>
                    <div class="content">
                        <div class="ipad"><img src="img/ipad.png" alt=""></div>
                        <h3>Lorem ipsum dolor sit amet.</h3>
                        <span>Lorem, ipsum dolor sit amet consectetur adipisicing, elit. Recusandae perspiciatis nihil ratione! Ad voluptatibus dolores nam molestias ducimus est quidem deserunt alias. Eveniet alias perspiciatis numquam similique et nostrum iure saepe excepturi, illo quas.</br></br> Numquam ipsum autem dolorum hic inventore architecto voluptate eligendi neque vitae quasi non nisi nostrum quibusdam corporis laboriosam odit fugiat obcaecati tenetur iure, consequatur laborum ab harum sit voluptates? Adipisci quo, cum recusandae, a molestias enim in. Culpa libero aut nam accusantium fugit, quia, suscipit officia, saepe incidunt aperiam nisi illo! Praesentium, id aliquid, est autem incidunt laudantium natus. Nesciunt veritatis minus mollitia excepturi nam corrupti!</span>
                    </div>
                </div>
                <div class="clip daily">
                    <div class="image"></div>
                    <span>Daily blog</br>
                        Websites</span>
                    <div class="content">
                        <div class="ipad"><img src="img/ipad.png" alt=""></div>
                        <h3>Lorem ipsum dolor sit amet.</h3>
                        <span>Lorem, ipsum dolor sit amet consectetur adipisicing, elit. Recusandae perspiciatis nihil ratione! Ad voluptatibus dolores nam molestias ducimus est quidem deserunt alias. Eveniet alias perspiciatis numquam similique et nostrum iure saepe excepturi, illo quas.</br></br> Numquam ipsum autem dolorum hic inventore architecto voluptate eligendi neque vitae quasi non nisi nostrum quibusdam corporis laboriosam odit fugiat obcaecati tenetur iure, consequatur laborum ab harum sit voluptates? Adipisci quo, cum recusandae, a molestias enim in. Culpa libero aut nam accusantium fugit, quia, suscipit officia, saepe incidunt aperiam nisi illo! Praesentium, id aliquid, est autem incidunt laudantium natus. Nesciunt veritatis minus mollitia excepturi nam corrupti!</span>
                    </div>
                </div>
                <div class="clip search">
                    <div class="image"></div>
                    <span>Search based</br>
                        Websites</span>
                    <div class="content">
                        <div class="ipad"><img src="img/ipad.png" alt=""></div>
                        <h3>Lorem ipsum dolor sit amet.</h3>
                        <span>Lorem, ipsum dolor sit amet consectetur adipisicing, elit. Recusandae perspiciatis nihil ratione! Ad voluptatibus dolores nam molestias ducimus est quidem deserunt alias. Eveniet alias perspiciatis numquam similique et nostrum iure saepe excepturi, illo quas.</br></br> Numquam ipsum autem dolorum hic inventore architecto voluptate eligendi neque vitae quasi non nisi nostrum quibusdam corporis laboriosam odit fugiat obcaecati tenetur iure, consequatur laborum ab harum sit voluptates? Adipisci quo, cum recusandae, a molestias enim in. Culpa libero aut nam accusantium fugit, quia, suscipit officia, saepe incidunt aperiam nisi illo! Praesentium, id aliquid, est autem incidunt laudantium natus. Nesciunt veritatis minus mollitia excepturi nam corrupti!</span>
                    </div>
                </div>
                <div class="screen">
                    <div class="screenshot">
                        <img src="img/screen.png" alt="">
                    </div>
                    <div class="description">
                        <h2>Why choose us?</h2>
                        <ul>
                            <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus, repudiandae.</li>
                            <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus, repudiandae.</li>
                            <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus, repudiandae.</li>
                            <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus, repudiandae.</li>
                            <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus, repudiandae.</li>
                            <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus, repudiandae.</li>
                        </ul>
                    </div>
                </div>
        </main>
    </div>
</body>

</html>