<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Макеты</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <div class="container">
        <header>
            <h1 id="layouts-menu">Макеты</h1>
            <nav>
                <a href="../index.html">Главная</a>
                <a href="../objectives.html">Мои цели</a>
                <a href="#layouts-menu">Макеты</a>
            </nav>
        </header>
        <main>
            <div class="leftbar">
                <ul>
                    <li>
                        <a href="../lessons/lesson.html">Мое первое занятие</a>
                    </li>
                    <li>
                        <a href="../lessons/lesson2.html">Мое второе занятие</a>
                    </li>
                    <li>
                        <a href="../lessons/lesson3.html">Мое третье занятие</a>
                    </li>
                    <li>
                        <a href="../lessons/lesson4.html">Мое четвертое занятие</a>
                    </li>
                    <li>
                        <a href="../lessons/lesson7.html">Мое седьмое занятие</a>
                    </li>
                    <li>
                        <a href="../lessons/lesson8.html">Мое восьмое занятие</a>
                    </li>
                    <li>
                        <a href="../lessons/lesson10.html">Мое десятое занятие</a>
                    </li>
                </ul>
            </div>
            <div class="content layout-content">
                <div class="item">
                    <a href="layout-agnecy/layout-agnecy.html" target="blank"><img src="images/preview.png" alt=""></a>
                </div>
                <div class="item">
                    <a href="layout-gradient/gradient.html" target="blank"><img src="images/preview-grad.png" alt=""></a>
                </div>
                <div class="item">
                    <a href="layout-aboutme/layout-aboutme.html" target="blank"><img src="images/preview-aboutme.png" alt=""></a>
                </div>
                <div class="item">
                    <a href="layout-story/layout-story.html" target="blank"><img src="images/preview-story.png" alt=""></a>
                </div>
                <div class="item">
                    <a href="layout-hexagons/hexagons.html" target="blank"><img src="images/preview-hexagons.png" alt=""></a>
                </div>
                <div class="item">
                    <a href="preloader/preloader.html" target="blank"><img src="images/preview-preloader.png" alt=""></a>
                </div>
                <div class="item">
                    <a href="layout-prechu/prechu.html" target="blank"><img src="images/preview-prechu.png" alt=""></a>
                </div>
                <div class="item">
                    <a href="admin/admin.html" target="blank"><img src="images/preview-admin.png" alt=""></a>
                </div>
                <div class="item">
                    <a href="flat-mate/flat-mate.html" target="blank"><img src="images/preview-flat.png" alt=""></a>
                </div>                
            </div>
            <footer>
                Dubovyk Artem &copy;
            </footer>
        </main>
    </div>
</body>

</html>