@import "../common.scss";

.app {
  margin-top: 180px;

  @include media(tablet) {
    margin-top: 65px;
  }

  @include media(mobile){
    margin-top: 50px;
  }

  &_content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media(mobile){
        flex-direction: column;
    }

    &_text {
      width: 375px;

      @include media(tablet) {
        width: 300px;
      }

      @include media(mobile){
        width: 100%;
      }

      h3 {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
      }

      form {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 40px;
        width: 375px;

        @include media(tablet) {
          width: 100%;
          margin-top: 25px;
        }

        label {
          font-weight: 400;
          font-size: 18px;
          line-height: 28px;
          color: rgba(0, 0, 0, 0.5);
        }

        #label-email {
          position: absolute;
          top: 12px;
          left: 24px;
        }

        #label-phone {
          position: absolute;
          top: 88px;
          left: 24px;
        }

        input {
          background: rgba(0, 0, 0, 0.06);
          border-radius: 16px;
          border: none;
          height: 52px;
          margin-bottom: 25px;
          padding-left: 24px;
        }

        button {
          background-color: #000000;
          color: white;
          border-radius: 29px;
          padding: 16px 32px;
          font-weight: 700;
          font-size: 14px;
          line-height: 20px;
          text-transform: uppercase;
          cursor: pointer;
        }
      }
    }

    &_picture {
      position: relative;

      .blur {
        position: absolute;
        z-index: -1;
        top: -250px;

        @include media(tablet){
            width: 400px;
            height: 400px;
            top: -125px;
        }

        @include media(mobile){
            width: 200px;
            height: 200px;
            top: 100px;
        }
      }

      #blur1 {
        left: -130px;

        @include media(mobile){
          left: -60px;
        }
      }

      #blur2 {
        right: -130px;

        @include media(mobile){
          right: -60px;
        }
      }

      .card {
        width: 360px;
        height: 225px;
        z-index: 2;

        @include media(tablet){
            width: 235px;
            height: 145px;
        }

        @include media(mobile){
            width: 280px;
            height: 175px;
            margin-top: 40px;
        }
      }
    }
  }
}
