@import "../common.scss";
.tariffs {
  margin-top: 350px;

  @include media(tablet) {
    margin-top: 95px;
  }

  &_content {
    h2 {
      font-weight: 700;
      font-size: 46px;
      line-height: 50px;

      @include media(tablet) {
        font-size: 30px;
        line-height: 34px;
      }
    }

    p {
      font-weight: 400;
      font-size: 15px;
      line-height: 22px;
      padding: 40px 0 80px;
      width: 415px;

      @include media(tablet) {
        padding: 25px 0 40px;
        width: 100%;
      }
    }

    &_table {
      background: #f5f8fc;
      border-radius: 40px;
      padding: 0 40px;

      @include media(tablet){
        padding: 25px 40px;
      }

      @include media(mobile){
        padding: 10px 20px;
      }

      .row {
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ada9a8;
        padding: 25px 0;
        width: 100%;

        @include media(tablet) {
          font-size: 15px;
          line-height: 22px;
          flex-direction: column;
          padding: 15px 0;
        }

        .title {
          width: 337px;

          @include media(tablet){
            width: 100%;
          }
        }

        .desc {
          width: 374px;

          @include media(tablet){
            width: 100%;
            color: #ada9a8;
          }
        }
      }

      .border-none {
        border-bottom: none;
      }
    }
  }
}
