<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="container">
        <header>
            <div class="icon"><img src="img/icon.png" alt=""></div>
            <h1>Prechu</h1>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Product</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
            <div class="menu">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </header>
        <section class="product">
            <div class="layer left"></div>
            <div class="iphone"></div>
            <hgroup>
                <h2>Lorem ipsum, dolor sit.</h2>
                <span>Lorem ipsum, dolor sit.</span>
                <span>Lorem, ipsum dolor.</span>
                <div class="button">
                    <img src="img/shape.png" alt="">
                    <a href="#">Sign up now</a>
                </div>
            </hgroup>
            <div class="layer right"></div>
        </section>
        <main>
            <div class="block massage">
                <div class="icon">
                    <img src="img/massage.png" alt="">
                </div>
                <h3>Contary to popular</h3>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quo architecto consequatur, nobis.</span>
            </div>
            <div class="hline"></div>
            <div class="block view">
                <div class="icon">
                    <img src="img/view.png" alt="">
                </div>
                <h3>Contary to popular</h3>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quo architecto consequatur, nobis.</span>
            </div>
            <div class="hline"></div>
            <div class="block buy">
                <div class="icon">
                    <img src="img/buy.png" alt="">
                </div>
                <h3>Contary to popular</h3>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quo architecto consequatur, nobis.</span>
            </div>
            <div class="hline"></div>
            <div class="shopping">
                <h2>The shopping cart</h2>
                <div class="image">
                    <img src="img/cart.png" alt="">
                </div>
                <div class="discription">
                    <h3>Some bullet text here</h3>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio voluptas deserunt veritatis ut ratione animi aliquam, unde magni incidunt laboriosam doloremque enim eligendi nisi optio harum, natus hic sed quae!Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio voluptas deserunt veritatis ut ratione animi aliquam, unde magni incidunt laboriosam doloremque enim eligendi nisi optio harum, natus hic sed quae!Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio voluptas deserunt veritatis ut ratione animi aliquam, unde magni incidunt laboriosam doloremque enim eligendi nisi optio harum, natus hic sed quae!</span>
                </div>
            </div>
        </main>
        <footer>
            <span>Copyright &copy; 2012-2013 cssauthor.com</span>
        </footer>
    </div>
</body>

</html>