<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="css/styles-hexagons.css">
</head>
<body>
	<div class="main">
		<div class="hexagon a1"></div>
        <div class="hexagon b1"></div>

        <div class="hexagon a2"></div>
        <div class="hexagon b2"></div>
        <div class="hexagon c2"></div>
        <div class="hexagon d2"></div>

        <div class="hexagon a3"></div>
        <div class="hexagon b3"></div>
        <div class="hexagon c3"></div>
        <div class="hexagon d3"></div>
        <div class="hexagon e3"></div>
        <div class="hexagon f3"></div>
        <div class="hexagon g3"></div>
        
        <div class="hexagon a4"></div>
        <div class="hexagon b4"></div>
        <div class="hexagon c4"></div>
        <div class="hexagon d4"></div>
        <div class="hexagon e4"></div>
        <div class="hexagon a5"></div>
        <div class="hexagon b5"></div>
        <div class="text">Your</div>
	</div>
</body>
</html>